.alsSuggestions {
	display: none;
}

.alsSuggestions ul{
	background: #fff;
	list-style: none;
	margin: 0;
	border-bottom: 2px #E9D3E9 solid;
	border-right: 2px #F0D4FD solid;
	width: 100%;
}

.alsSuggestions li {
	border-top: 1px solid rgba(219, 195, 255, 0.54);
	position: relative;
	overflow: hidden;
}

.alsSuggestions a {
	color: #808080;
	display: block;
	line-height: 1.3125;
	outline-offset: -1px;
	padding: 0.84375em 0;
}

.als-search-content {
	float:none !important;
	margin-right: 0 !important;
	margin: auto !important;
}
.results-count{
	color: #a7a4a4;
	font-weight: 100;
}
.als-mainform{
	padding-bottom: 20px;
	/*border-bottom: 1px solid rgba(218, 223, 226, 0.75);*/
	width: 100%;
	margin: auto !important;
}
.als-mainform form{
	margin-top: 10px;
}
.als-mainform input[type="search"]{
	display: inline-block;
	width: 90%;
	height: 36px;
	
}
.als-mainform input[type="button"],
.als-mainform button{
	display: inline-block;
	max-width: 48px;
	height: 36px;
	margin-left: -3px;
	
}
.als-loading{
	margin:auto;
	text-transform:uppercase;
	font-size: 2em;
	width: 60%;
	min-width: 300px;
}
.alsthumbnail {
	width: 20%;
	position: relative;

}

.alssnippet {
	width: 75%;
	position: relative;
	display: inline-block;
}

.alsfull {
	width: 100%;
}

.als-snippet{
	clear:both;
}
.als-post-thumbnail  img{
	float: left!important;
	width: 100px!important;
	height: 100px!important;
	margin: 1em;
}

.als-header  h2{
	font-size: 1.5em;
	padding-top: 1rem;
	margin: 0;

}
#als_sponsored {
	background: rgba(221, 249, 252, 0.74);
	border-radius: 5px;
	margin-bottom: 1em;
}

.als_sponsored_handle{
	text-align: center;
}

.als-search-content{
	width: 80%;
	max-width: 920px;
	margin: auto;
}

.search .site:before{
	background-color: transparent; /*Twentyfourteen sidebar fix*/
}

.search .wp-post-image{
	margin-right: 1em !important;
}