<div class="panel panel-primary">
		
		<div class="panel-heading">
              <h3 class="panel-title">Get Ajax Live Search Pro</h3>
        </div>
		<div class="panel-body">
			<p>Buy securely via PayPal or credit card and save $30. Offer ends soon.</p>
			<p>You can ask for a refund anytime within 30 days of your purchase.</p>
			<a href="https://ajaxlivesearch.xyz/buy-premium" class="btn btn-home btn-sm" data-product="506334" onclick="ga('send', 'event', 'Paddle', 'Buy', 'Sidebar Pro');">GO PRO!($39
				)</a>
		 </div>
</div>

