<div class="panel panel-primary">
		
		<div class="panel-heading">
              <h3 class="panel-title">Get aLs Pro</h3>
        </div>
		<div class="panel-body">
			<p>Upgrade Securely via PayPal</p>
			<a href="https://pay.paddle.com/checkout/506334" class="btn btn-home btn-sm" data-product="506334" onclick="ga('send', 'event', 'Paddle', 'Buy', 'Buy {{ site.current_version }} Pro');">GO PRO! ($19)</a>
		 </div>
</div>
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- top navigation -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-2420903361153509"
     data-ad-slot="9909383870"
     data-ad-format="link"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
